[tool.pytest.ini_options]
addopts = "-ra --cov=src --cov-report=term-missing"
testpaths = "."

[tool.coverage.run]
branch = true

[tool.coverage.report]
fail_under = 100
exclude_lines = [
    "pragma: no cover",
    "def __repr__",
    "raise AssertionError",
    "raise NotImplementedError",
]
